.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.font3 {
  font-size: 3rem;
}
.font2 {
  font-size: 2rem;
}
.font15 {
  font-size: 1.5rem;
}
.font1 {
  font-size: 1rem;
}

.CityItem {
  border-bottom: #282c34 solid 0.1rem;
  
}

.CityItem_ScrollWrapper {
  width: 100%;
  overflow: hidden;
}

.CityItem_LongWrapper {
  width: 120%;
  float: left;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
}

.CityItem_NormalWrapper {
  width: 83.34%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: white;
  
}
.CityItem_NormalWrapper div {
  padding: 1rem;
}
.CityItem_city {
  text-align: left;
}
.CityItem_temp {
  text-align: right;
}
.delbtn {
  background-color: red;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex-grow: 1;
  z-index: 1;
}

.details {
  background-color: aquamarine;
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
}
.details div {
  flex-grow: 1;
}
.details_wea {
  width: 100%;
  flex-direction: column;
}

.addcomp {
  position: fixed;
  bottom: 0;
  width: 100%;
}

